@mixin flexCenter{
    display:flex;
    justify-content: space-around;
    align-items: center;
}


$colors:(
    "red":#fa4848,
    "green":#5eff74
);



body{
    background-color: #000;
}
.main{
    @include flexCenter;
    flex-direction: column;
}

.lighting-area{
    @include flexCenter;
    margin:auto;
    width:900px;
    height:400px;
}
.light{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: #fff;
}


.light:nth-child(odd){
    background-color: map-get($colors,"red");
}
.light:nth-child(even){
    background-color: map-get($colors,"green");
}



  
